{% extends "learning_logs/base.html" %}

{% block content %}
  <p>Topic: {{ topic }}</p>
  <p>Entries:</p>
  <p>
      <a href="{% url 'learning_logs:new_entry' topic.id %}">add new entry</a>
  </p>
  <ul>
    {% for entry in entries %}
      <li>
        <p>{{ topic.date_added|date:'Y M d, H:i' }}</p>  <!--|表示模版过滤器，对模版变量的值进行修改 -->
        <p>{{ entry.text|linebreaks }}</p>  <!--过滤器linebreaks将包含换行符的长条目转换为浏览器能够理解的格式 -->
        <p>
            <a href="{% url 'learning_logs:edit_entry' entry.id %}">edit entry</a>
        </p>
      </li>
    {% empty %}
      <li>
        There are no entries for this topic yet.
      </li>
    {% endfor %}
  </ul>
{% endblock content %}