<!DOCTYPE html>
{% extends "learning_logs/base.html" %}

{% block header %}
    <h1>Topics</h1>
{% endblock header %}

{% block content %}
  <ul>
    {% for topic in topics %}
      <!--<li>{{ topic }}</li>  &lt;!&ndash; 模版中打印变量，需要将变量名用双花括号括起来&ndash;&gt;-->
      <li>
        <h3>
        <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a>
        </h3>
      </li>
    {% empty %}  <!-- 异常处理：topics为空时，这里打印一条消息-->
      <li>No topics have been adder yet.</li>
    {% endfor%}
  </ul>

    <h3><a href="{% url 'learning_logs:new_topic' %}">Add a new topic:</a></h3>

{% endblock content %}